.heading {
  background-color: #e5e5e5;
  box-shadow: 0 2px 4px rgb(78, 78, 78);
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}

.headTitle {
  width: 75rem;
  margin: 0 auto;
  font-size: 1.2rem;
}

@media only screen and (max-width: 720px) {
  .headTitle {
    font-size: 0.8rem;
    padding: 1rem;
  }
}
@media only screen and (max-width: 480px) {
  .headTitle {
    font-size: 0.6rem;
    padding: 1rem;
  }
}
